<body>
  <h1 id="titol">Titol Comp1</h1>
    <p id="text">Aquest es l'HTML de comp1</p>
  <h3>URL del document:</h3>
    <p id="url"></p>
  <table id="taula">
    <tr>
      <th>Alumne</th>
      <th>Anys</th>
    </tr>
    <tr>
      <td>Joan</td>
      <td>Pep</td>
    </tr>
    <tr>
      <td>15</td>
      <td>17</td>
    </tr>
  </table>
<p id="Ipsum">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id vulputate nibh, sit amet fringilla nisl.<br>
  Integer non sapien lacus. Etiam lectus odio, scelerisque eget turpis eget, auctor volutpat nibh.<br>
  Morbi nec tellus vel massa ultrices mollis ut eu est. Morbi ultricies porta ultricies.<br>
  Aenean orci libero, imperdiet vitae elementum sed, consequat sed odio.<br>
  Phasellus vitae metus tristique, tincidunt sem eu, consectetur velit.<br>
</p>
<h3 id="infoIpsum"></h3>
<img id="imatge"><img>
</body>
